@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 9% 10%;
    --foreground: 210 40% 98%;
    --card: 228 9% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 228 9% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 256 84% 69%;
    --primary-foreground: 210 40% 98%;
    --secondary: 216 34% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 216 34% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 188 95% 57%;
    --accent-foreground: 228 9% 14%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 228 9% 20%;
    --input: 228 9% 20%;
    --ring: 256 84% 69%;
    --radius: 0.8rem;
    --chart-1: 256 84% 69%;
    --chart-2: 188 95% 57%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 228 9% 10%;
    --foreground: 210 40% 98%;
    --card: 228 9% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 228 9% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 256 84% 69%;
    --primary-foreground: 210 40% 98%;
    --secondary: 216 34% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 216 34% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 188 95% 57%;
    --accent-foreground: 228 9% 14%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 228 9% 20%;
    --input: 228 9% 20%;
    --ring: 256 84% 69%;
    --chart-1: 256 84% 69%;
    --chart-2: 188 95% 57%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
